
@{
    ViewData["Title"] = "StudentLogin";
}

<h1>StudentLogin</h1>
<form method="post">
    <input name="Email" placeholder="Email" />
    <input name="Password" placeholder="Password" type="password" />
    <button>login</button>
</form>
